.poplayer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: #666;
  font-size: 14px;
  z-index: 450;
  background: rgba(0, 0, 0, 0.8);
}

.poplayer-alert {
  background: none;
}

.alert-wrap {
    width: 80%;
    padding: 5px;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    text-align: center;
    position: fixed;
    line-height: 32px;
    color: #fff;
}

.confirm-wrap {
      width: 80%;
      height: auto;
      top: 50%;
      left: 50%;
      background: #fff;
      border-radius: 8px;
      text-align: center;
      position: fixed;
}

.poplayer-opera {
    display: -webkit-box;
    display: -ms-box;
    display: box;
}

.poplayer-msg{
    text-align: left;
    line-height: 40px;
}

.poplayer-button{
    box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-ms-flex: 1;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    background: #30B468;
    color: #fff;
    padding: 10px 24px;
    margin: 18px;
}

.poplayer-button:nth-child(2n+1){
    margin-right: 6px;
}

.poplayer-button:nth-child(2n){
    margin-left: 6px;
}

.poplayer-cancel{
    background: #fff;
    color: #333; 
    border: 1px solid #CCCCD1; 
}

.poplayer-close {
    width: 32px;
    height: 32px;
    background: url('close.png') no-repeat;
    background-size: 32px 32px;
    position: absolute;
    top: -12px;
    right: -16px;
}

.poplayer-content {
    padding: 24px 14px;
}




