<div class="poplayer">
	<div class="confirm-wrap">
		<div class="J-poplayer-close poplayer-close"></div>
		<div class="poplayer-content">
			<p class="poplayer-msg">{{text}}</p>
			<div class="poplayer-opera"></div>
		</div>
	</div>
</div>